body {
    font-family: Arial, sans-serif;
    background-color: #cb6ce6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

label, textarea, button {
    display: block;
    margin: 10px auto;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    background-color: #e100ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comments {
    text-align: left;
}

.comment {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment p {
    margin: 0;
}
