/* Estilos para o site da barbearia */
/* Personalize os estilos conforme necessário */

 @import url(sec-3.css);
 @import url(comentario.css);
 @import url(menu.css);
@import url(rodape.css); 
@import url(botão.css);


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}
#home{
    background-color: transparent;
}
#menu{
    position: relative;
}

.content {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}


header {
    color: #fff;
    padding: 10px 0;
    height: 50px;
    position: relative;
    background-color: #bb15e9;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e13ce7;
}

.ajuste{

    width: 100%;
    height: 30%;
    
}
.carousel-control-next{
    background-color: transparent;
}


.carousel-item img{

    width: 1980px;
    height: 430px;
}


.introduction-container {
  text-align: justify; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 16px; 
  line-height: 1.5; 
  margin: 20px; 
  padding: 20px; 
  background-color: #cb6ce6; 
  box-shadow: 0 0 3px  black;
  border-radius: 5px; 
  
}


.introduction-title {
  font-size: 24px; 
  display: flex;
  justify-content: center;
  font-weight: bold; 
  color: #fff;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.introduction-text {
  font-size: 18px; 
  margin-bottom: 10px; 
}


.section-1 {
    
    text-align: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    
}



.pro h2{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.pro hr{

    width: 1000em;
    color: #fff;
}



.card {
    display: inline-block;
    width: 48%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.section-2{
    display: flex;
    justify-content: space-around;

}
.section-4{
    display: flex;
    justify-content: space-around;

}

  
.card-2 {
  width: 250px;
  height: 254px;
  box-shadow: 0 0 4px black ;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px ;
  
    

}

#reviews {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1132px) {
   
    .menu {
        display: none;
        flex-direction: column; 
        background-color: #bb15e9; 
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        margin-top: auto;
    }
    .menu.active {
        display: flex;
    }
    .menu li{
        display: block;
    }

    .menu-toggle {
        display: none; 
    }

    .menu a {
        text-decoration: none;
        color: #fff; 
        padding: 10px 20px;
    }

    header {
        text-align: center;
    }
    
    .card-2 {
        justify-content: space-between;
        margin-top: 23px;
    }

    .carousel-item img {
        width: 1980px;
        height: 590px;
        
    }
    
    .article-section {
        flex-direction: column;
    }

    .article-section article {
        width: 90%;
        margin: 10px auto;
    }
    
    .article-section img {
        max-width: 100%;
    }

    .article-section h2 {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .article-section p {
        font-size: 1rem;
    }

    .article-section a {
        margin-top: 10px;
    }

    .comments {
        margin-top: 20px;
    }

    .section-1 {
        flex-direction: column;
        align-items: center;
    }

    .pro h2 {
        font-size: 1.5em;
    }

    .pro hr {
        width: 100%;
    }
    .submenu:hover .submenu-content {
        display: none;
        color: #fff;
    }
    

    .section-2,
    .section-4 {
        flex-direction: column;
        align-items: center;
    }
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    .introduction-container {
        padding: 20px;
    }
}