body {
    
   
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #cb6ce6;
    }
    
    h1 {
        text-align: center;
        margin-top: 20px;
        color: #ffffff;
    }
    
    .cadastro {
        max-width: 400px;
        margin: 0 auto;
        
       
    background-color: #cb6ce6;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        
       
     margin-top: 10px;
        font-weight: bold;
        color: #ffffff;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
        
       
    padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }
    
    button {
        background-color: #f700ff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 3px;
        
       
    cursor: pointer;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #9e00b3;
    }