.hide{
    display: none !important;
}

#sec-modal{
    position:  absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: var(--light);
    padding: 7em;
    border-radius: 5px;
    margin: 4.5em;
    box-shadow: 2px 2px 5px var(--medium);
  
}

.modal h1{
    text-align: center;
}

.modal p {
    text-indent: 1.5em;
    text-align: justify;
}

.modal main{
    margin: 1.5em 0;
}

.modal footer{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

#confirma{
    background-color: var(--confirma);
    cursor: pointer;
    border: none;
    text-align: center center;

}

#confirma:hover{
    background-color: rgb(6, 169, 6);
    text-align: center center;
}

#cancela{
    background-color: var(--cancela);
    cursor: pointer;
    border: none;
}

#cancela:hover{
    background-color: red;
}