@import url(modal2.css);

:root{
    --dark: black;
    --light: white;
    --medium: #2a2a2a;
    --confirma: #18c818;
    --cancela: #bc0707;

}
/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Estilo para o botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

button{
    padding: 2em;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 1px 4px 4px rgb(105, 105, 105);
	text-align: center;
    
}

button:hover{
	text-align: center;
	background-color: var(--medium);
}
form {
    display: flex;
    flex-direction: column;
}

label {
    
   
 margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    
   
padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

